<div class="field">
    <label class="checkbox">
        <input type="checkbox" id="cuisine-filter-toggle">
        Filter by cuisine
    </label>

    <fieldset id="cuisine-filter" class="cuisine-options" disabled>
        {% for cuisine in cuisines %}
            <label class="chip">
                <input type="checkbox" name="cuisine" value="{{ cuisine.value }}">
                <span>{{ cuisine.value.replace('_', ' ') | title }}</span>
            </label>
        {% endfor %}
    </fieldset>
</div>
