<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Planner - Recipes</title>
</head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<section class="content">
  <nav>
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
      <li><a href="{{ url_for('meal_plan') }}">Meal Plan</a></li>
    </ul>
  </nav>
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>