{% extends 'base.html' %}
<html lang="en">
    {% block header %}
        <h1>{% block title %}Meal Plan{% endblock %}</h1>
    {% endblock %}
    {% block content %}
    <body>
        {% block body %}
        <button id="generate-meal-plan">Generate Meal Plan</button>
        <div id="meal-plan-container">
            {% include '_meal_plan.html' %}
        </div>
        <script src="{{ url_for('static', filename='js/meal_plan_controller.js') }}"></script>
        <script>
            MealPlanController.init(
                "{{ url_for('generate_meal_plan') }}",
                "meal-plan-container",
                "generate-meal-plan"
            );
        </script>
        {% endblock %}
    </body>
    {% endblock %}
</html>
