{% extends 'base.html' %}
<html lang="en">
    {% block header %}
        <h1>{% block title %}Meal Plan{% endblock %}</h1>
    {% endblock %}
    {% block content %}
    <body>
        {% block body %}
        <button id="generate-meal-plan">Generate Meal Plan</button>
        <div id="meal-plan-container">
            {% include '_meal_plan.html' %}
        </div>
        <script>
            const generateMealPlanUrl = "{{ url_for('generate_meal_plan') }}";

            document.getElementById('generate-meal-plan').addEventListener('click', function() {
                fetch(generateMealPlanUrl, { method: 'POST' })
                    .then(response => {
                        if (!response.ok) {
                            return response.text().then(text => { throw new Error(text); });
                        }
                        return response.text();
                    })
                    .then(html => {
                        document.getElementById('meal-plan-container').innerHTML = html;
                    })
                    .catch(error => alert(error.message));
            });
        </script>
        {% endblock %}
    </body>
    {% endblock %}
</html>
