{% extends 'base.html' %}
<html lang="en">
    {% block header %}
        <h1>{% block title %}Register{% endblock %}</h1>
    {% endblock %}
    {% block content %}
    <body>
        {% block body %} 
            <div>
                {% if recipes %}
                    <h1>Recipes</h1>
                    {% for recipe in recipes %}
                        <div class="recipe">
                            <h2>{{recipe.name}}</h2>
                            <ul>
                                {% for cuisine in recipe.cuisines %}
                                    <li>{{cuisine.cuisine.value}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No recipes found.</p>
                {% endif %}
            </div>
        {% endblock %}
    </body>
    {% endblock %}
</html>
